$mdc-theme-primary: #fff;
$mdc-theme-secondary: #000;
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/list/mdc-list";
@import "@material/icon-button/mdc-icon-button";
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}
/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
a {
  text-decoration: none;
}
a button.mdc-icon-button {
  color: #606060;
  &.active {
    color: #3378d8;
  }
}
