#temp-drawer {
  position: fixed;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  overflow-y: auto;
  width: 295px;
  &.mdc-drawer--modal {
    top: 0;
    min-height: 100vh;
  }
}
.side-nav__section-title {
  color: #202124;
  display: block;
  font-size: 18px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-top: 20px;
}
.side-nav__menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 40px;
  padding-top: 20px;
  padding: 0;
  margin: 0;
  padding-left: 14px;
  &:last-child {
    border-bottom: transparent;
  }
}
#temp-drawer .drawer-link {
  margin: 4px;
  color: #616161;
  &.active {
    font-weight: 500;
    color: #202124;
  }
}
